*{
  box-sizing: border-box;
}
.websiteHeader{
  background-color: #212529;
  color: white;
  position: fixed;
}
.websiteHead{
  
  color: #fed136;
  width: 100vw;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
button{
  background-color: #fed136;
  width: 80px;
  color: white;
  font-size: 12px;
  
  right: 5px;
  display: flex;
  
  justify-content: space-around;
  align-items: center;

}
.closed{
  display: none;
}
img{
  width: 30%;
}
@keyframes slide{
0%{
  transform: translate(0, -100%)
}
100%{
  transform: translate(0);
}
}
ul{
  animation-name: slide;
  animation-duration: 3s;
}
li{
  padding: 10px;
}

@media(min-width: 990px){
  .menuButton{
    display: none;
  }
}
